.add-itinerary-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.error-message {
  color: #ff3333;
  margin-bottom: 10px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div > h3 {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
}

button {
  width: 100%;
  max-width: 200px;
  padding: 12px 20px;
  background-color: rgba(107, 32, 255, 1);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

button:hover {
  background-color: rgb(69, 2, 202);
}

progress {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 6px;
}
