/* src/styles/Itinerarylist.module.css */

.itinerary-list-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .itinerary-list-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .itinerary-list {
    list-style: none;
    padding: 0;
  }
  
  .itinerary-item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .itinerary-image {
    width: 200px; 
    height: fit-content; 
    margin-right: 20px;
    border-radius: 6px;
  }
  
  .itinerary-details {
    flex-grow: 1;
    text-align: center;
  }
  
  .itinerary-destination {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    
  }
  
  .itinerary-date {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    align-self: center;
  }
  
  .viewButton {
    width: 100%;
    max-width: 200px;
    padding: 12px 20px;
    background-color: rgba(107, 32, 255, 1);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
  }
  
  .viewButton:hover {
    background-color: rgb(69, 2, 202);
  }