/* src/styles/Planner.css */
.planner-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    align-self: center;
  }
  
  .planner-section {
    margin-top: 20px;
  }
  
  .planner-section:first-child {
    margin-top: 0;
  }
  