/* src/styles/RemoveItinerary.module.css */

.removeItineraryContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.destination {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.itineraryList {
  list-style: none;
  padding: 0;
}

.itineraryItem {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.itineraryImage {
  width: 200px; 
  height: fit-content; 
  margin-right: 20px;
  border-radius: 6px;
}

.itineraryDetails {
  flex-grow: 1;
}

.itineraryDestination {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.itineraryDate {
  
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.deleteButton {
  padding: 10px 20px;
  background-color: #e30000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #780000;
}
