.user-list {
    text-align: left;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    padding: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.user-list a {
    text-decoration: none;
    color: inherit;
}